@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*keyframe 必定要這樣先宣告*/
@-webkit-keyframes aboutMeTextAnim {
  0% {
    color: #aaa;
    top: 0; }
  10%, 90% {
    color: #fff;
    top: 2rem; }
  100% {
    color: #aaa;
    top: 0; } }
@keyframes aboutMeTextAnim {
  0% {
    color: #aaa;
    top: 0; }
  10%, 90% {
    color: #fff;
    top: 2rem; }
  100% {
    color: #aaa;
    top: 0; } }

/**/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Jura", "sans-serif"; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 1150px) {
    html {
      font-size: 55%; } }
  @media (max-width: 700px) {
    html {
      font-size: 50%; } }
  @media (max-width: 550px) {
    html {
      font-size: 40%; } }
  @media (max-width: 400px) {
    html {
      font-size: 35%; } }

.this {
  border: 1px solid red; }

html {
  font-size: 62.5%; }

/* Common Style */
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section-heading {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 10rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  word-break: break-all;
  line-height: 4; }
  @media (max-width: 900px) {
    .section-heading {
      left: 5rem; } }

/* End of Common Style */
.ripple {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #e7be08;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rippleAnim .5s forwards;
          animation: rippleAnim .5s forwards; }

@-webkit-keyframes rippleAnim {
  0% {
    width: 0;
    height: 0; }
  100% {
    width: 250%;
    height: 250%; } }

@keyframes rippleAnim {
  0% {
    width: 0;
    height: 0; }
  100% {
    width: 250%;
    height: 250%; } }

.main-btn {
  position: absolute;
  bottom: 3rem;
  width: 13rem;
  height: 13rem;
  background-color: #9b0e0e;
  border-radius: 50%;
  border: .2rem dotted #fff;
  overflow: hidden; }
  .main-btn:hover .main-btn-content {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
    border: .2rem dotted #9b0e0e;
    -webkit-transition: border .2s, -webkit-transform .2s .5s;
    transition: border .2s, -webkit-transform .2s .5s;
    transition: transform .2s .5s, border .2s;
    transition: transform .2s .5s, border .2s, -webkit-transform .2s .5s; }
  .main-btn .main-btn-content {
    width: 100%;
    height: 100%;
    border: .2rem dotted #e7be08;
    border-radius: 50%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    -webkit-transition: border .2s, -webkit-transform .2s;
    transition: border .2s, -webkit-transform .2s;
    transition: transform .2s, border .2s;
    transition: transform .2s, border .2s, -webkit-transform .2s; }
    .main-btn .main-btn-content .main-btn-line {
      position: absolute;
      top: 4rem;
      width: 3rem;
      height: 0.5rem;
      border: 0.1rem solid #fff;
      /* 指標 */
      /* End 指標 */ }
      .main-btn .main-btn-content .main-btn-line:nth-child(1) {
        -webkit-transform: rotateZ(-45deg) translateX(-0.65rem);
                transform: rotateZ(-45deg) translateX(-0.65rem);
        -webkit-transform-origin: left center;
                transform-origin: left center;
        border-right: none; }
      .main-btn .main-btn-content .main-btn-line:nth-child(2) {
        -webkit-transform: rotateZ(45deg) translateX(0.65rem);
                transform: rotateZ(45deg) translateX(0.65rem);
        -webkit-transform-origin: right center;
                transform-origin: right center;
        border-left: none; }
      .main-btn .main-btn-content .main-btn-line:nth-child(3) {
        -webkit-transform: rotateZ(90deg) translateX(0.5rem);
                transform: rotateZ(90deg) translateX(0.5rem);
        border-left: none; }
    .main-btn .main-btn-content span {
      position: absolute;
      bottom: 3rem;
      color: #fff;
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase; }

/*keyframe 必定要這樣先宣告*/
@keyframes aboutMeTextAnim {
  0% {
    color: #aaa;
    top: 0; }
  10%, 90% {
    color: #fff;
    top: 2rem; }
  100% {
    color: #aaa;
    top: 0; } }

.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  /* 解決大園hover問題 */
  pointer-events: none;
  /* End 解決大園hover問題 */ }
  @media (max-width: 1150px) {
    .mouse-circle,
    .mouse-dot {
      display: none; } }

.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid #c7a622;
  -webkit-animation: mouseCircleAnimation 10s infinite linear;
          animation: mouseCircleAnimation 10s infinite linear; }

@-webkit-keyframes mouseCircleAnimation {
  0% {
    width: 6rem;
    height: 6rem; }
  25% {
    width: 8rem;
    height: 8rem; }
  35% {
    width: 4rem;
    height: 4rem; }
  70% {
    width: 8rem;
    height: 8rem; }
  100% {
    width: 6rem;
    height: 6rem; } }

@keyframes mouseCircleAnimation {
  0% {
    width: 6rem;
    height: 6rem; }
  25% {
    width: 8rem;
    height: 8rem; }
  35% {
    width: 4rem;
    height: 4rem; }
  70% {
    width: 8rem;
    height: 8rem; }
  100% {
    width: 6rem;
    height: 6rem; } }

.mouse-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #9b0e0e;
  -webkit-animation: mouseDotAnimation 10s infinite linear;
          animation: mouseDotAnimation 10s infinite linear; }

@-webkit-keyframes mouseDotAnimation {
  0% {
    width: .5rem;
    height: .5rem; }
  55% {
    width: 1.5rem;
    height: 1.5rem; }
  100% {
    width: .5rem;
    height: .5rem; } }

@keyframes mouseDotAnimation {
  0% {
    width: .5rem;
    height: .5rem; }
  55% {
    width: 1.5rem;
    height: 1.5rem; }
  100% {
    width: .5rem;
    height: .5rem; } }

.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/bg.jpg") center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg.jpg") center no-repeat;
  background-size: cover; }

.progress-bar {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 200;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 1350px) {
    .progress-bar {
      right: 1rem;
      bottom: 0; } }
  .progress-bar .half-circle,
  .progress-bar .half-circle-top {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    pointer-events: none; }
  .progress-bar .half-circle:nth-child(1) {
    background-color: #B60000; }
  .progress-bar .half-circle:nth-child(2) {
    background-color: #B60000; }
  .progress-bar .half-circle-top {
    background-color: #FFF; }
  .progress-bar .progress-bar-circle {
    width: 7.8rem;
    height: 7.8rem;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 4rem;
    z-index: 100;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    pointer-events: none; }

.menu-icon {
  width: 12rem;
  height: 7rem;
  position: fixed;
  top: 3.5rem;
  right: 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  cursor: pointer; }
  @media (max-width: 900px) {
    .menu-icon {
      right: -4rem; } }
  .menu-icon .menu-icon-line {
    width: 4rem;
    height: 0.1rem;
    background-color: #fff;
    margin: 0.5rem 0 !important;
    -webkit-box-shadow: 0 0.3rem 0.5rem #000;
            box-shadow: 0 0.3rem 0.5rem #000; }

.show-menu-icon {
  opacity: 1;
  visibility: visible; }

.navbar {
  position: fixed;
  top: 2.5rem !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 3rem;
  z-index: 100;
  -webkit-transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s, -webkit-transform 0.5s; }
  @media (max-width: 400px) {
    .navbar {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0; } }
  .navbar .navbar-link {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 0 2.5rem;
    z-index: 100;
    text-shadow: 0 0.3rem 0.5rem #000; }
    @media (max-width: 1150px) {
      .navbar .navbar-link {
        margin: 0 2rem; } }
    @media (max-width: 900px) {
      .navbar .navbar-link {
        font-size: 1.5rem;
        margin: 0 1rem; } }

.hide-navbar {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem); }

.section-1 {
  position: relative;
  width: 100%;
  height: 100vh; }
  .section-1 .logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    font-size: 2rem;
    text-transform: uppercase; }
    @media (max-width: 400px) {
      .section-1 .logo {
        font-size: 1.7rem;
        top: 13rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); } }
  .section-1 .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr); }
    .section-1 .circles .circle {
      width: 22rem;
      height: 22rem;
      border-radius: 50%;
      background-color: red;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      -ms-grid-column-align: center;
          justify-self: center;
      opacity: 0.5;
      position: relative;
      /* 解決滑鼠剛進入時會跳閃問題 */
      top: 0;
      left: 0;
      /* End 解決滑鼠剛進入時會跳閃問題 */
      -webkit-transition: left 2s, top 2s;
      transition: left 2s, top 2s; }
      @media (max-width: 1500px) {
        .section-1 .circles .circle {
          width: 15rem;
          height: 15rem; } }
      @media (max-width: 1350px) {
        .section-1 .circles .circle {
          display: none; } }
    .section-1 .circles .circle-1 {
      background: url("../images/landing/circle-1-img.jpg") center no-repeat;
      background-size: cover;
      background-clip: content-box;
      border: 0.5rem dotted #a14b1a;
      margin-left: -10rem; }
    .section-1 .circles .circle-2 {
      background: url("../images/landing/circle-2-img.jpg") center no-repeat;
      background-size: cover;
      background-clip: content-box;
      border: 0.5rem dashed #ffbd07; }
    .section-1 .circles .circle-3 {
      background: url("../images/landing/circle-3-img.jpg") center no-repeat;
      background-size: cover;
      background-clip: content-box;
      border: 1rem double #9b0e0e; }
    .section-1 .circles .circle-4 {
      background: url("../images/landing/circle-4-img.jpg") center no-repeat;
      background-size: cover;
      background-clip: content-box;
      border: 0.7rem double #fff;
      margin-right: -10rem; }
  .section-1 .main-circle {
    width: 55rem;
    height: 55rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transition: width 0.2s, height 0.2s;
    transition: width 0.2s, height 0.2s; }
    @media (max-width: 1500px) {
      .section-1 .main-circle {
        width: 45rem;
        height: 45rem; } }
    @media (max-width: 1150px) {
      .section-1 .main-circle {
        width: 40rem;
        height: 40rem; } }
    @media (max-width: 1150px) {
      .section-1 .main-circle {
        width: 40rem;
        height: 40rem; } }
    @media (max-width: 550px) {
      .section-1 .main-circle {
        width: 180%;
        height: 180%; } }
    @media (max-width: 400px) {
      .section-1 .main-circle {
        width: 38rem; } }
    .section-1 .main-circle:hover {
      width: 75rem;
      height: 75rem; }
      @media (max-width: 1500px) {
        .section-1 .main-circle:hover {
          width: 55rem;
          height: 55rem; } }
      @media (max-width: 1150px) {
        .section-1 .main-circle:hover {
          width: 45rem;
          height: 45rem; } }
      @media (max-width: 400px) {
        .section-1 .main-circle:hover {
          width: 42rem; } }
    .section-1 .main-circle img {
      mix-blend-mode: color-dodge;
      position: relative;
      -webkit-transition: left 2s, top 2s;
      transition: left 2s, top 2s;
      /* 解決滑鼠剛進入時會跳閃問題 */
      top: 0;
      left: 0;
      /* End 解決滑鼠剛進入時會跳閃問題 */ }
      @media (max-width: 1500px) {
        .section-1 .main-circle img {
          width: 160%;
          height: 160%; } }
      @media (max-width: 400px) {
        .section-1 .main-circle img {
          width: 200%;
          height: 200%; } }
  .section-1 .featured-text {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    /* 使文字垂直 */
    width: 0;
    word-wrap: break-word;
    line-height: 3.5;
    /* End of 使文字垂直 */
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  .section-1 .featured-text-1 {
    margin: 0 auto 0 10rem; }
    @media (max-width: 900px) {
      .section-1 .featured-text-1 {
        margin: 0 auto 0 5rem; } }
  .section-1 .featured-text-2 {
    margin: 0 10rem 0 auto; }
    @media (max-width: 900px) {
      .section-1 .featured-text-2 {
        margin: 0 5rem 0 auto; } }

.section-2 {
  position: relative;
  padding: 10rem 10rem 15rem 10rem; }
  .section-2 .about-me-text {
    width: 80%;
    margin: auto; }
    .section-2 .about-me-text span {
      font-family: "Poppins", sans-serif;
      font-size: 15rem;
      font-weight: bold;
      color: #aaa;
      letter-spacing: 0.5rem;
      line-height: 0.9;
      text-shadow: 0 0 1rem #9b0e0e;
      position: relative;
      mix-blend-mode: color-dodge; }
      @media (max-width: 1500px) {
        .section-2 .about-me-text span {
          font-size: 11rem; } }
      @media (max-width: 1350px) {
        .section-2 .about-me-text span {
          font-size: 10rem; } }
      @media (max-width: 1150px) {
        .section-2 .about-me-text span {
          font-size: 7.5rem; } }
      @media (max-width: 900px) {
        .section-2 .about-me-text span {
          font-size: 5.5rem;
          color: #ccc; } }
  .section-2 .main-btn {
    left: 50%;
    bottom: -5rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media (max-width: 1350px) {
      .section-2 .main-btn {
        width: 12.5rem;
        height: 12.5rem; } }

.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  margin-top: 10rem;
  position: relative; }
  .section-3 .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 15rem; }
    .section-3 .projects .project {
      width: 40rem;
      height: 45rem;
      overflow: hidden;
      margin: 5rem;
      background-color: #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: relative;
      border: 0.2rem dotted #9b0e0e;
      border-radius: 0.5rem;
      cursor: pointer;
      -webkit-perspective: 20rem;
              perspective: 20rem;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .section-3 .projects .project img {
        width: 90%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        top: 2rem;
        -webkit-transition: top 4s 0.2s, opacity 0.2s;
        transition: top 4s 0.2s, opacity 0.2s;
        opacity: 0.5;
        pointer-events: none; }
      .section-3 .projects .project:nth-child(odd):hover img {
        -webkit-animation: oddImgAnim 4s 0.2s;
                animation: oddImgAnim 4s 0.2s;
        opacity: 1; }

@-webkit-keyframes oddImgAnim {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  25% {
    -webkit-transform: rotateY(-2deg) rotateX(2deg);
            transform: rotateY(-2deg) rotateX(2deg); }
  50% {
    -webkit-transform: rotateY(2deg) rotateX(-2deg);
            transform: rotateY(2deg) rotateX(-2deg); }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }

@keyframes oddImgAnim {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  25% {
    -webkit-transform: rotateY(-2deg) rotateX(2deg);
            transform: rotateY(-2deg) rotateX(2deg); }
  50% {
    -webkit-transform: rotateY(2deg) rotateX(-2deg);
            transform: rotateY(2deg) rotateX(-2deg); }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }
      .section-3 .projects .project:nth-child(even):hover img {
        -webkit-animation: evenImgAnim 4s 0.2s;
                animation: evenImgAnim 4s 0.2s;
        opacity: 1; }

@-webkit-keyframes evenImgAnim {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  25% {
    -webkit-transform: rotateY(2deg) rotateX(-2deg);
            transform: rotateY(2deg) rotateX(-2deg); }
  50% {
    -webkit-transform: rotateY(-2deg) rotateX(2deg);
            transform: rotateY(-2deg) rotateX(2deg); }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }

@keyframes evenImgAnim {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); }
  25% {
    -webkit-transform: rotateY(2deg) rotateX(-2deg);
            transform: rotateY(2deg) rotateX(-2deg); }
  50% {
    -webkit-transform: rotateY(-2deg) rotateX(2deg);
            transform: rotateY(-2deg) rotateX(2deg); }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }
  .section-3 .project-hide-btn {
    position: fixed;
    top: 5rem;
    right: 5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    z-index: 200;
    color: #fff;
    -webkit-transform: scale(0);
            transform: scale(0);
    visibility: hidden; }
    @media (max-width: 1150px) {
      .section-3 .project-hide-btn {
        right: 2rem; } }
  .section-3 .project-hide-btn.change {
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .section-3 .projects-btn {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .section-3 .projects-btn .main-btn-line {
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }

.project-img-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden scroll;
  z-index: 100;
  scroll-behavior: smooth;
  -webkit-animation: imgWrapperAnim 1s forwards;
          animation: imgWrapperAnim 1s forwards; }

@-webkit-keyframes imgWrapperAnim {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

@keyframes imgWrapperAnim {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
  .project-img-wrapper .project-img {
    width: 100%;
    border-radius: 0.5rem;
    padding: 7rem 20rem;
    opacity: 0.9;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-animation: imgAnim 1s 1s both;
            animation: imgAnim 1s 1s both;
    display: block; }

@-webkit-keyframes imgAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes imgAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
    @media (max-width: 1150px) {
      .project-img-wrapper .project-img {
        padding: 7rem 11rem; } }

.change > .main-btn-line:nth-child(1) {
  -webkit-transform: rotateZ(45deg) translateX(-0.65rem);
          transform: rotateZ(45deg) translateX(-0.65rem); }

.change > .main-btn-line:nth-child(2) {
  -webkit-transform: rotateZ(-45deg) translateX(0.65rem);
          transform: rotateZ(-45deg) translateX(0.65rem); }

.change > .main-btn-line:nth-child(3) {
  -webkit-transform: rotateZ(90deg) translateX(-0.5rem);
          transform: rotateZ(90deg) translateX(-0.5rem);
  border-left: 0.1rem solid #fff;
  border-right: none; }

.section-4 {
  width: 100%;
  position: relative; }
  @media (max-width: 1500px) {
    .section-4 {
      margin-bottom: 10rem; } }
  .section-4 .services-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-4 .services-wrapper .service {
      width: 70%;
      margin: 2rem 0;
      border-bottom: 0.5rem solid #9b0e0e; }
      .section-4 .services-wrapper .service .service-btn {
        width: 100%;
        position: relative;
        display: block;
        height: 15rem; }
        @media (max-width: 1150px) {
          .section-4 .services-wrapper .service .service-btn {
            height: 12rem; } }
        @media (max-width: 900px) {
          .section-4 .services-wrapper .service .service-btn {
            height: 9rem; } }
        .section-4 .services-wrapper .service .service-btn span {
          font-family: "Poppins", sans-serif;
          font-size: 10rem;
          font-style: italic;
          font-weight: bold;
          color: #9b0e0e;
          position: absolute;
          right: 0;
          -webkit-transition: right 0.5s;
          transition: right 0.5s;
          pointer-events: none; }
          @media (max-width: 1500px) {
            .section-4 .services-wrapper .service .service-btn span {
              font-size: 9rem; } }
          @media (max-width: 1150px) {
            .section-4 .services-wrapper .service .service-btn span {
              font-size: 8rem; } }
          @media (max-width: 900px) {
            .section-4 .services-wrapper .service .service-btn span {
              height: 9rem; } }
          @media (max-width: 550px) {
            .section-4 .services-wrapper .service .service-btn span {
              font-size: 4.5rem; } }
      .section-4 .services-wrapper .service .service-text {
        font-size: 5rem;
        color: #777;
        letter-spacing: 0.1rem;
        height: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
        @media (max-width: 1500px) {
          .section-4 .services-wrapper .service .service-text {
            font-size: 4rem; } }
        @media (max-width: 1150px) {
          .section-4 .services-wrapper .service .service-text {
            font-size: 3.5rem; } }
        @media (max-width: 900px) {
          .section-4 .services-wrapper .service .service-text {
            font-size: 3.2rem; } }
        @media (max-width: 550px) {
          .section-4 .services-wrapper .service .service-text {
            font-size: 3rem;
            color: #bbb; } }
      .section-4 .services-wrapper .service .service-text.change {
        height: 15rem;
        visibility: visible;
        opacity: 1;
        -webkit-transition: height 0.5s, opacity 0.5s 0.5s;
        transition: height 0.5s, opacity 0.5s 0.5s; }

.section-5 {
  position: relative;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .section-5 .form-wrapper .form-heading {
    font-family: "Poppins", sans-serif;
    font-size: 6rem;
    font-weight: 400;
    color: #9b0e0e;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    @media (max-width: 400px) {
      .section-5 .form-wrapper .form-heading {
        font-size: 5rem; } }
  .section-5 .form-wrapper .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section-5 .form-wrapper .contact-form .contact-form-input {
      width: 60rem;
      padding: 0.5rem;
      margin: 1rem 0;
      background-color: rgba(255, 255, 255, 0.1);
      border: 0.1rem solid #9b0e0e;
      font-size: 1.7rem;
      font-weight: #aaa;
      letter-spacing: 0.1rem;
      height: 5rem; }
      @media (max-width: 700px) {
        .section-5 .form-wrapper .contact-form .contact-form-input {
          width: 50rem; } }
    .section-5 .form-wrapper .contact-form .contact-form-textarea {
      height: 20rem;
      resize: none; }
    .section-5 .form-wrapper .contact-form .form-submit-btn {
      width: 20rem;
      height: 5rem;
      background-color: #9b0e0e;
      border: none;
      -ms-flex-item-align: start;
          align-self: flex-start;
      font-size: 1.8rem;
      color: #fff; }
    .section-5 .form-wrapper .contact-form .message {
      font-size: 1.2rem;
      font-weight: 700;
      color: #f55e5e;
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin: 0 auto 1rem 0;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s; }
    .section-5 .form-wrapper .contact-form .message.error {
      visibility: visible;
      opacity: 1; }
  .section-5 .slideshow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50rem;
    margin-top: 10rem;
    padding: 0 2rem; }
    @media (max-width: 1150px) {
      .section-5 .slideshow {
        margin: 5rem 0; } }
    @media (max-width: 550px) {
      .section-5 .slideshow {
        width: 45rem; } }
    .section-5 .slideshow .slideshow-link {
      width: 20%;
      -webkit-filter: brightness(0.5);
              filter: brightness(0.5);
      -webkit-transition: -webkit-filter 1.5s;
      transition: -webkit-filter 1.5s;
      transition: filter 1.5s;
      transition: filter 1.5s, -webkit-filter 1.5s; }
      .section-5 .slideshow .slideshow-link:nth-child(1),
      .section-5 .slideshow .slideshow-link :nth-child(5) {
        -webkit-transition: width 0.5s, opacity 0.5s;
        transition: width 0.5s, opacity 0.5s; }
      .section-5 .slideshow .slideshow-link:nth-child(3) {
        -webkit-transition: -webkit-filter 0.5s;
        transition: -webkit-filter 0.5s;
        transition: filter 0.5s;
        transition: filter 0.5s, -webkit-filter 0.5s; }
      .section-5 .slideshow .slideshow-link img {
        width: 100%;
        padding: 0 1rem; }
        @media (max-width: 550px) {
          .section-5 .slideshow .slideshow-link img {
            padding: 0 1.1rem; } }

.faded-out {
  opacity: 0;
  width: 0; }

.light {
  -webkit-filter: brightness(1.5) !important;
          filter: brightness(1.5) !important; }
/*# sourceMappingURL=index.css.map */